<form [formGroup]="checkoutForm">
  <mat-card appearance="outlined" class="shipping-card">
    <mat-card-actions>
      <button
        data-test="submitButton"
        mat-raised-button
        color="primary"
        type="button"
        [disabled]="!(this.checkoutForm.dirty && this.checkoutForm.valid)"
        (click)="onSubmit()"
      >
        Submit
      </button>
      <button
        data-test="cancelButton"
        mat-raised-button
        color="accent"
        type="button"
        (click)="cancelClick()"
      >
        Cancel
      </button>
    </mat-card-actions>
    <mat-card-header>
      <mat-card-title>New Current Task</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-checkbox
            data-test="isCompleteCheckbox"
            [formControl]="checkoutForm.controls.isComplete"
            >Is Complete</mat-checkbox
          >
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              data-test="nameInput"
              matInput
              id="name"
              placeholder="Name"
              [formControl]="checkoutForm.controls.name"
            />
            @if (checkoutForm.controls.name.hasError('required')) {
              <mat-error data-test="nameInputError">
                Name is <strong>required</strong>
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea
              data-test="descriptionTextarea"
              matInput
              id="description"
              placeholder="Description"
              [formControl]="checkoutForm.controls.description"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
