<form [formGroup]="viewForm" novalidate (ngSubmit)="viewOnSubmit()">
  <mat-card appearance="outlined" class="shipping-card">
    <div *ngIf="isSignInForm">
      <mat-card-actions>
        <button
          data-test="sign-in-button"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!(this.viewForm.dirty && this.viewForm.valid)"
        >
          Sign In
        </button>
        <button
          data-test="sign-up-button"
          mat-raised-button
          color="accent"
          type="button"
          [disabled]="this.viewForm.disabled"
          (click)="viewSignUpClick()"
        >
          Sign Up
        </button>
      </mat-card-actions>
      <mat-card-header>
        <mat-card-title data-test="card-title">Sign In</mat-card-title>
      </mat-card-header>
    </div>
    <div *ngIf="isSignUpForm">
      <mat-card-actions>
        <button
          data-test="sign-up-button"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!(this.viewForm.dirty && this.viewForm.valid)"
        >
          Sign Up
        </button>
      </mat-card-actions>
      <mat-card-header>
        <mat-card-title data-test="card-title">Sign Up</mat-card-title>
      </mat-card-header>
    </div>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              data-test="username-field"
              matInput
              id="username"
              data-testid="username"
              placeholder="User Name"
              formControlName="username"
              required
            />
            <mat-error
              data-test="username-error"
              *ngIf="username.errors?.['required']"
            >
              User Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              data-test="password-field"
              matInput
              type="password"
              id="password"
              data-testid="password"
              placeholder="Password"
              formControlName="password"
              required
            />
            <mat-error
              data-test="password-error"
              *ngIf="password.errors?.['required']"
            >
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="!!errorMessage()">
        <mat-error data-test="message-error">
          {{ errorMessage() }}
        </mat-error>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<!--
  <pre>
  Form Value: {{ loginForm.value | json }}
  </pre>
  
  <pre>
  Form Status: {{ loginForm.status }}
  </pre>
  -->
