<form [formGroup]="viewForm" novalidate (ngSubmit)="viewOnSubmit()">
  <mat-card appearance="outlined" class="shipping-card">
    @if (isSignInForm) {
      <div>
        <mat-card-actions>
          <button
            data-test="sign-in-button"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!(this.viewForm.dirty && this.viewForm.valid)"
          >
            Sign In
          </button>
          <button
            data-test="sign-up-button"
            mat-raised-button
            color="accent"
            type="button"
            [disabled]="this.viewForm.disabled"
            (click)="viewSignUpClick()"
          >
            Sign Up
          </button>
        </mat-card-actions>
        <mat-card-header>
          <mat-card-title data-test="card-title">Sign In</mat-card-title>
        </mat-card-header>
      </div>
    }
    @if (isSignUpForm) {
      <div>
        <mat-card-actions>
          <button
            data-test="sign-up-button"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!(this.viewForm.dirty && this.viewForm.valid)"
          >
            Sign Up
          </button>
        </mat-card-actions>
        <mat-card-header>
          <mat-card-title data-test="card-title">Sign Up</mat-card-title>
        </mat-card-header>
      </div>
    }
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              data-test="username-field"
              matInput
              id="username"
              data-testid="username"
              placeholder="User Name"
              formControlName="username"
              required
            />
            @if (username.errors?.['required']) {
              <mat-error data-test="username-error">
                User Name is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              data-test="password-field"
              matInput
              type="password"
              id="password"
              data-testid="password"
              placeholder="Password"
              formControlName="password"
              required
            />
            @if (password.errors?.['required']) {
              <mat-error data-test="password-error">
                Password is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      @if (!!errorMessage()) {
        <div class="row">
          <mat-error data-test="message-error">
            {{ errorMessage() }}
          </mat-error>
        </div>
      }
    </mat-card-content>
  </mat-card>
</form>

<!--
<pre>
  Form Value: {{ loginForm.value | json }}
</pre>

<pre>
  Form Status: {{ loginForm.status }}
</pre>
-->
