<form>
  <mat-card class="shipping-card">
    <mat-card-actions>
      <button
        data-test="submit-button"
        mat-raised-button
        color="primary"
        type="button"
        [disabled]="isSubmitButtonDisabled"
        (click)="onSubmit()"
      >
        Submit
      </button>
      <button
        data-test="cancel-button"
        mat-raised-button
        color="accent"
        type="button"
        (click)="cancelClick()"
      >
        Cancel
      </button>
      <button
        data-test="remove-button"
        mat-raised-button
        color="accent"
        type="button"
        (click)="removeClick()"
      >
        Remove
      </button>
    </mat-card-actions>
    <mat-card-header>
      <mat-card-title>Completed Task</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              data-test="name-input"
              matInput
              id="name"
              placeholder="Name"
              [formControl]="checkoutForm.controls.name"
            />
            <mat-error *ngIf="checkoutForm.controls.name.hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea
              data-test="description-textarea"
              matInput
              id="description"
              placeholder="Description"
              [formControl]="checkoutForm.controls.description"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
