<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar> Menu </mat-toolbar>

    @if (view$ | async; as view) {
      <div>
        <div data-test="user-name">
          {{ view.user.email }}
        </div>
        <mat-select
          data-test="task-list-name"
          (selectionChange)="viewtodoListsSelectChange($event)"
          [value]="view.taskListId"
        >
          @for (item of taskLists$ | async; track item) {
            <mat-option [value]="item.id">{{ item.name }} </mat-option>
          }
        </mat-select>
      </div>
    } @else {
      <div data-test="user-name">Not Signed In</div>
    }

    <mat-nav-list>
      @for (item of viewNavigation; track item) {
        <a
          mat-list-item
          [routerLink]="[item.link]"
          [attr.data-test]="[item.testId]"
        >
          {{ item.label }}
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>ng-task</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
