<p>current-task-list-item works!</p>
<p>{{ currentTask.name }}</p>

<mat-list-item>
  <mat-checkbox (change)="this.completeChange.emit($event)">{{
    currentTask.name
  }}</mat-checkbox>
  <p>{{ currentTask.description }}</p>
</mat-list-item>

<h3>
  <a
    [title]="currentTask.name + ' details'"
    [routerLink]="['/edit', currentTask.id]"
  >
    {{ currentTask.name }}
  </a>
</h3>

<!--
      [routerLink]="['edit', currentTask.id]"

<mat-list-item [class.complete]="toDo?.complete">
    <mat-checkbox [checked]="toDo.complete" (change)="this.completeChange.emit($event)">{{ toDo?.task }}</mat-checkbox>
</mat-list-item>
-->
