<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">
      Name
    </label>

    <input id="name" type="text" formControlName="name" />
  </div>

  <div>
    <label for="description">
      Description
    </label>

    <input id="description" type="text" formControlName="description" />
  </div>

  <button class="button" type="submit">
    Save
  </button>
  <button class="button" (click)="cancel.emit()">
    Cancel
  </button>
  <button class="button" (click)="remove.emit()">
    Remove
  </button>
</form>
